
#film_inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.film_container {
    display: inline-flex;
    width: 95%;
    height: 90%;
}

.video_container {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#video {
    width: 100%;
    height: 90%;
}

.videolink {
    width: 100%;
    height: 70%;
    background-color: red;
}

.video_left, .video_right {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.video_describe {
    width: 100%;
    height: 30%;
}

.video_describe_head, .video_describe_body {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;

}

.film_h {
    text-align: center;
    color: white;
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
}

.film_p {
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
}

.nextvid, .prevvid {
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: none;
}

.content2, .content3 {
    display: none;
}

