

body   { 
    font-family: Courier; 
/*    overflow: hidden;*/
}

canvas { 
    width: 100vw;
    height: 100vh;
    position: absolute; 
    z-index: 8;
    left: 0; bottom: 0;
    cursor: default;
    background-color: rgba(0,0,0,0);
}